
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

$font: 'Raleway', sans-serif;
$dark-liver: rgba(80, 81, 79, 1);
$sunset-orange: rgba(242, 95, 92, 1);
$mustard: rgba(255, 224, 102, 1);
$lapis-lazuli: rgba(36, 123, 160, 1);
$green-sheen: rgba(112, 193, 179, 1);

@import 'radio';

* {
  box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
  height: 100%;
  background: $lapis-lazuli
}

body {
  padding: 10px;
  font-family: $font;
  font-size: 0.9em;
  // color: #494949;
  background: #FCFCFC;
  color: $dark-liver;
  border: 5px solid $lapis-lazuli;
  border-top: 50px solid $lapis-lazuli;

  &#highscore {
    border: 10px solid $lapis-lazuli;
    border-top: 65px solid $lapis-lazuli;
    height: 100%;
    overflow: hidden;

    h1 {
      color: white;
      margin-top: -65px;
      font-size: 38px;
      margin-bottom: 30px;

      span {
        float: right;
        font-size: 24px;
        line-height: 50px;
        font-weight: 400;
        font-size: 35px;

        a {
          // color: $mustard;
          // color: white;
          color: khaki;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }

    .big-text {
      font-weight: 800;
      font-size: 80px;
      text-align: center;
      width: 100%;
      display: block;
      margin-top: 180px;

      a {
        // color: $mustard;
        // color: white;
        color: khaki;
        text-decoration: none;
        font-weight: bold;
      }
    }

    .leader {
      // width: 100%;
      display: inline-block;
      margin-right: 20px;
      max-height: 320px;
      margin-bottom: 30px;

      .score {
        margin: auto;
        display: block;
        width: 280px;
        max-height: 320px;

        .img-wrapper {
          max-height: 320px;
        }

        h2 {
          background: $mustard;
          color: $dark-liver;
          font-size: 22px;
          padding-top: 7px;
        }

        number {
          background: $mustard;
          color: $dark-liver;
        }
      }


      .crown {
        position: absolute;
        top: -5px;
        right: 5px;
        font-size: 60px;
        transform: rotate(15deg);
        z-index: 9999;
      }
    }

    .wrapper {
      // justify-content: space-around;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;

      .inner-wrap {
        position: relative;
        max-height: 190px;
      }
    }

    .score {
      position: relative;
      display: inline-block;
      // float: left;
      width: 190px;
      max-height: 190px;
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 20px;
      margin-right: 20px;
      vertical-align: top;

      h2 {
        position: absolute;
        color: white;
        width: 100%;
        background: $lapis-lazuli;
        color: white;
        top: -20px;
        padding: 10px 5px 5px 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 18px;
        z-index: 999;
      }

      .img-wrapper {
        position: relative;
        max-height: 190px;
      }

      .pure-img {
        width: 100%;
        border-radius: 10px;
      }

      number {
        position: absolute;
        font-weight: bold;
        right: 0;
        bottom: 0;
        color: white;
        // font-weight: normal;
        font-size: 20px;
        background: $green-sheen;
        z-index: 99999;
        padding: 5px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
      }
    }
  }
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: $font;
    // font-family: Georgia, Times, "Times New Roman", serif;
}

.title {
  color: white;
  margin-top: -45px;
  font-size: 20px;
}

.instructions {
  margin-top: 30px;
}

.instruction {

  &.small {
    font-weight: normal;
  }

  b {
  }
}

#team-name {
  width: 96%;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5px;
  border-radius: 2px;
  font-size: 20px;
}

.button-send {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  width: 100%;
  background: $green-sheen;

  &.disabled {
    background: $dark-liver;
    opacity: 0.3;
  }
}

.button-xlarge {
  font-size: 30px;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
}

.question {
  margin-top: 20px;
  position: relative;
  // margin-left: 20px;

  .number {
    // position: relative;
    // font-size: 65px;
    // font-weight: bold;
    // display: inline-block;
    // float: left;
    // line-height: 40px;
    // margin: 0 10px 20px 0;

    position: absolute;
    font-size: 120px;
    font-weight: bold;
    display: inline-block;
    float: left;
    left: -47px;
    top: -11px;
    line-height: 40px;
    margin: 0 10px 20px 0;
    color: #828282;
    opacity: 0.2;
    z-index: -10;
  }

  .text {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.alternatives {
  // margin-top: 40px;
  float: left;
  margin-bottom: 20px;
  // margin-left: 20px;

  // margin-left: 45px;
  margin-top: 10px;
}

.score-overlay {
  position: fixed;
  top: -10px;
  left: 0;
  right: 0;
  bottom: -500px;
  background: rgba($mustard, 0.94);
  z-index: 9999;
  opacity: 0;
  // opacity: 1;
  // display: none;
  pointer-events: none;
  overflow-x: hidden;
  overflow-y: hidden;

  &.show {
    transition: 1s all;
    -webkit-transition: 1s opacity;
    // opacity: 0.95;
    opacity: 1;
    pointer-events: auto;
  }

  h1, h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 55px;
    margin-top: 60px;
  }

  h2 {
    font-size: 50px;
    margin-top: 0;
  }

  img {
    width: 70%;
    margin: 20px auto;
    border-radius: 10px;
  }
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  // border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;

  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  // margin-top: 20px;
  width: 100%;
  background: $green-sheen;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 20px;
}

#avatar {
  display: none;
  margin-bottom: 20px;
}

.thin {
  font-weight: normal;
}

.line-through {
  position: relative;
  display: inline-block;

  figure {
    position: absolute;
    border-bottom: 2px solid red;
    top: 12px;
    width: 33px;
    height: 1px;
    margin: 0;
    transform: rotate(-36deg);
    right: -5px;
    opacity: 0.8;
  }

  figure:first-child {
    transform: rotate(36deg);
  }
}

input[type=range]{
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: $mustard;
    // background: $sunset-orange;
    margin-top: -16px;
    border: 3px solid lighten($dark-liver, 30%);
    // border: 3px solid $mustard;
    // border: 3px solid $sunset-orange;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.outpunch {

  h2 {
    font-weight: 100;
    line-height: 30px;

    output {
      color: $sunset-orange;
      font-size: 30px;
      font-weight: bold;
      width: 60px;
      display: inline-block;
      text-align: center;
    }
  }
}

#clean {
  position: fixed;
  bottom: 12px;
  right: 12px;
}
